body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}


.container {
    width: 400px;
    
}


#progress .times ,
.volume-container, .card-footer
 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.volume-container {
    margin-right: 5px;
}
.volume-container i {
    margin-right: 10px;
}

#progress-bar 
{
    width: 100%;
  
}
#music-list {
    max-height: 300px;
    overflow-y: auto;
}

li.playing {
    background-color: antiquewhite;
    cursor: pointer;

}
